numpy
pandas
git+https://github.com/huggingface/transformers 
accelerate
# accelerate>=0.26.0
qwen-vl-utils[decord]==0.0.8
flash_attn
protobuf==5.26.1
loguru

# PDF Processing
docling

# Embedding Models
sentence-transformers

# Vector Database (Qdrant)
qdrant-client

nltk
spacy
tiktoken  

langchain


# serving 
litserve
gradio
streamlit